/*!
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
:root {
  --my-header-height: 64px;
  --my-header-bottom-margin: 0px;
}

#view-toggle {
  top: calc(var(--my-header-height) + var(--my-header-bottom-margin));
}

body > #content,
body > #content-vue {
  margin-top: 74px;
  margin-top: calc(var(--my-header-height) + var(--my-header-bottom-margin));
  height: calc(100% - env(safe-area-inset-bottom) - var(--my-header-height) - var(--body-container-margin) - var(--my-header-bottom-margin));
}

/* fix dashboard header */
body.dashboard--inverted:not(.dashboard--dark) #appmenu .icon-more-white,
body.dashboard--inverted:not(.dashboard--dark) .header-right > div:not(#settings) > :first-child,
body.dashboard--inverted:not(.dashboard--dark) .header-end > div:not(#settings) > :first-child {
  filter: unset !important;
}

.header-right > div:hover,
.header-end > div:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

header#header {
  height: var(--my-header-height) !important;
}
header#header .header-right #notifications,
header#header .header-end #notifications {
  height: var(--my-header-height) !important;
}
header#header .header-right #settings #expand,
header#header .header-end #settings #expand {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
header#header .header-right #settings #expanddiv,
header#header .header-right #unified-search #header-menu-unified-search,
header#header .header-right #notifications #header-menu-notifications,
header#header .header-right #contactsmenu #header-menu-contactsmenu,
header#header .header-end #settings #expanddiv,
header#header .header-end #unified-search #header-menu-unified-search,
header#header .header-end #notifications #header-menu-notifications,
header#header .header-end #contactsmenu #header-menu-contactsmenu {
  top: var(--my-header-height) !important;
}
header#header .header-right #assistant .header-menu,
header#header .header-right #assistant .header-menu button,
header#header .header-right #user-menu .header-menu__trigger,
header#header .header-right #unified-search .header-menu__trigger,
header#header .header-right #notifications .header-menu__trigger,
header#header .header-right #contactsmenu .header-menu__trigger,
header#header .header-end #assistant .header-menu,
header#header .header-end #assistant .header-menu button,
header#header .header-end #user-menu .header-menu__trigger,
header#header .header-end #unified-search .header-menu__trigger,
header#header .header-end #notifications .header-menu__trigger,
header#header .header-end #contactsmenu .header-menu__trigger {
  margin: 0 !important;
  height: 100% !important;
}
header#header .header-right #contactsmenu .content .footer,
header#header .header-end #contactsmenu .content .footer {
  display: none !important;
}
header#header .header-left > nav > #navigation {
  position: fixed;
  left: 12px;
  top: var(--my-header-height);
  transform: unset;
  min-width: 260px;
  max-width: 420px;
  width: max-content;
  /* Hide triangle on active app and dropdown menu */
}
header#header .header-left > nav > #navigation:after {
  display: none !important;
}
header#header .unified-search-menu.central-menu-search-hidden, header#header .unified-search__button.central-menu-search-hidden {
  display: none !important;
}
header#header .header-left, header#header .header-start {
  flex: none;
}
header#header .header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

@media (max-width: 600px) {
  #header .header-left > nav > #navigation, #header .header-start > nav > #navigation {
    width: 100%;
    max-width: 600px;
  }
}
nav.app-menu {
  display: none !important;
}

/*
.icon-more-white {
	background-color: #1f1f1f;
	// background-image: url('../img/grid.svg') !important;
	background-image: unset !important;
	-webkit-mask: url('../img/grid.svg') no-repeat 50% 50%;
	mask: url('../img/grid.svg') no-repeat 50% 50%;
	background-size: 20px;
}
*/
header#header .header-left #nextcloud, header#header .header-start #nextcloud {
  width: 138px;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
header#header .header-left #nextcloud .custom-logo, header#header .header-start #nextcloud .custom-logo {
  height: 100%;
  width: auto;
}
header#header .header-left #nextcloud .logo, header#header .header-start #nextcloud .logo {
  display: none;
  width: 100%;
  left: unset;
}
header#header .header-left #nextcloud .logo.enabled, header#header .header-start #nextcloud .logo.enabled {
  display: inline-flex;
}
header#header .header-left #nextcloud .logo-wrapper, header#header .header-start #nextcloud .logo-wrapper {
  display: flex;
  width: 138px;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

div[role=tooltip] {
  top: 50px !important;
}

/* hide call button in Files sidebar */
#call_button {
  display: none;
}

.mp-swp-search-bar {
  width: 100%;
}

/*# sourceMappingURL=theming.css.map */
