:root {
	--my-header-height: 64px;
	--my-header-bottom-margin: 0px;
}

#view-toggle {
	top: calc(var(--my-header-height) + var(--my-header-bottom-margin));
}

body > #content,
body > #content-vue {
	margin-top: 74px;
	margin-top: calc(var(--my-header-height) + var(--my-header-bottom-margin));
	height: calc(100% - env(safe-area-inset-bottom) - var(--my-header-height) - var(--body-container-margin) - var(--my-header-bottom-margin));
}

/* fix dashboard header */
body.dashboard--inverted:not(.dashboard--dark) {
	#appmenu .icon-more-white,
	.header-right > div:not(#settings) > :first-child {
		filter: unset !important;
	}
}

// header right icons hover
.header-right > div:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

header#header {
	height: var(--my-header-height) !important;

	.header-right {
		#settings #expand {
			height: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}
		#settings #expanddiv,
		#unified-search #header-menu-unified-search,
		#notifications #header-menu-notifications,
		#contactsmenu #header-menu-contactsmenu {
			top: 64px !important;
		}
		#user-menu .header-menu__trigger,
		#unified-search .header-menu__trigger,
		#notifications .header-menu__trigger,
		#contactsmenu .header-menu__trigger {
			margin: 0 !important;
			height: 100% !important;
		}
		#contactsmenu {
			.content .footer {
				display: none !important;
			}
		}
	}

	.header-left > nav > #navigation {
		position: fixed;
		left: 12px;
		top: 64px;
		transform: unset;
		min-width: 260px;
		max-width: 420px;
		width: max-content;
		/* Hide triangle on active app and dropdown menu */
		&:after {
			display: none !important;
		}
	}
}


@media (max-width:600px) {
	#header .header-left > nav > #navigation {
		width: 100%;
		max-width: 600px;
	}
}

nav.app-menu {
	display: none !important;
}

/*
.icon-more-white {
	background-color: #1f1f1f;
	// background-image: url('../img/grid.svg') !important;
	background-image: unset !important;
	-webkit-mask: url('../img/grid.svg') no-repeat 50% 50%;
	mask: url('../img/grid.svg') no-repeat 50% 50%;
	background-size: 20px;
}
*/

header#header {
	.header-left {
		#nextcloud {
			width: 138px;
			padding: 0;
			margin: 0;
			height: 100%;
			align-items: center;
			justify-content: center;
			//background: center no-repeat url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			// don't use the .logo because it was an img and became a div, better hide it an style the link
			.custom-logo {
				height: 100%;
				width: auto;
			}
			.logo {
				display: none;
				&.enabled {
					display: inline-flex;
				}
				width: 100%;
				left: unset;
				//background-image: url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			}
			.logo-wrapper {
				display: flex;
				width: 138px;
				padding: 0;
				margin: 0;
				height: 100%;
				align-items: center;
				justify-content: center;
			}
			//.logo {
			//	width: 80px;
			//	height: 63px;
			//	margin: 0 24px 0 24px;
			//	left: 0;
			//	top: 0;
			//	background-image: url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			//}
		}
	}
}

div[role=tooltip] {
	top: 50px !important;
}

/* hide call button in Files sidebar */
#call_button {
	display: none;
}
