:root {
  --my-header-height: 64px;
}

body {
	background-image: unset !important;
	background-color: gray !important;
}

#view-toggle {
	top: calc(var(--my-header-height) + 10px);
}

body > #content,
body > #content-vue {
	margin-top: 74px;
	margin-top: calc(var(--my-header-height) + 10px);
	height: calc(100% - env(safe-area-inset-bottom) - var(--my-header-height) - var(--body-container-margin) - 10px);
}

/* fix dashboard header */
body.dashboard--inverted:not(.dashboard--dark) {
	#appmenu .icon-more-white,
	.header-right > div:not(#settings) > :first-child {
		filter: unset !important;
	}
}

header#header {
	height: var(--my-header-height) !important;
	background-color: white !important;
	border-bottom: 1px solid #dddddd;

	.header-right {
		#settings #expand {
			height: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}
		#settings #expanddiv,
		#unified-search #header-menu-unified-search,
		#notifications #header-menu-notifications,
		#contactsmenu #header-menu-contactsmenu {
			top: 64px !important;
		}
		#user-menu .header-menu__trigger,
		#unified-search .header-menu__trigger,
		#notifications .header-menu__trigger,
		#contactsmenu .header-menu__trigger {
			margin: 0 !important;
			height: 100% !important;
		}
		#contactsmenu {
			.content .footer {
				display: none !important;
			}
		}
		> div:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
		// for NC between 25.0.0 and 25.0.2
		#contactsmenu .menutoggle {
			filter: invert(100%);
		}
		#contactsmenu .header-menu__trigger,
		#notifications .header-menu__trigger {
			//background: url('../img/notifications-dark.svg') no-repeat center !important;
			//background-size: 20px !important;
			opacity: .865 !important;
			svg,
			img {
				//display: none;
				filter: invert(100%);
			}
		}
		#unified-search {
			> a {
				opacity: 1 !important;
			}
			svg {
				fill: #1f1f1f;
			}
		}
	}

	.header-left > nav > #navigation {
		position: fixed;
		left: 12px;
		top: 64px;
		transform: unset;
		min-width: 260px;
		max-width: 420px;
		width: max-content;
		/* Hide triangle on active app and dropdown menu */
		&:after {
			display: none !important;
		}
	}
}


@media (max-width:600px) {
	#header .header-left > nav > #navigation {
		width: 100%;
		max-width: 600px;
	}
}

nav.app-menu {
	display: none !important;
}

.icon-more-white {
	background-color: #1f1f1f;
	/* background-image: url('../img/grid.svg') !important; */
	background-image: unset !important;
	-webkit-mask: url('../img/grid.svg') no-repeat 50% 50%;
	mask: url('../img/grid.svg') no-repeat 50% 50%;
	background-size: 20px;
}

header#header {
	.header-left {
		#nextcloud {
			width: 138px;
			padding: 0;
			margin: 0;
			height: 100%;
			align-items: center;
			justify-content: center;
			//background: center no-repeat url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			// don't use the .logo because it was an img and became a div, better hide it an style the link
			.custom-logo {
				height: 100%;
				width: auto;
			}
			.logo {
				&.hidden {
					display: none;
				}
				width: 100%;
				left: unset;
				//background-image: url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			}
			//.logo {
			//	width: 80px;
			//	height: 63px;
			//	margin: 0 24px 0 24px;
			//	left: 0;
			//	top: 0;
			//	background-image: url('../img/phoenix_suite_logo-Assets/SVG/phoenix_suite_logo.svg');
			//}
		}
	}
}

div[role=tooltip] {
	top: 50px !important;
}

/* hide call button in Files sidebar */
#call_button {
	display: none;
}

/* hide some activity navigation items */
main#content.app-activity a[data-navigation=contacts],
main#content.app-activity a[data-navigation=calendar],
main#content.app-activity a[data-navigation=calendar_todo] {
	display: none;
}
